main {
  position: relative;
  background-color: $white;
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  padding: 2vw;

  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    pointer-events: none;
    width: 100%;
    height: 100%;
    background-color: $black;

    display: flex;
    justify-content: center;
    align-items: center;

    .logo__loader {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 3vw;
    }

    .black {
      opacity: 1;
      z-index: 1;
      transition: 0.2s ease-in-out;
    }
    .red {
      opacity: 0;
      z-index: 2;
    }
  }
  .loader__active {
    animation: loader 2s ease-in-out 1 forwards;
    animation-delay: 0.5s;

    @keyframes loader {
      from {
        background-color: #181818;
      }
      to {
        background-color: #000000;
      }
    }

    .black {
      opacity: 1;
      animation: logo__loader__black 0.5s ease-in-out 1 forwards;
      animation-delay: 1s;
    }
    @keyframes logo__loader__black {
      from {
        opacity: 1;
      }
      to {
        opacity: 0;
      }
    }
  }
  .red {
    opacity: 1;
    animation: logo__loader 2s ease-in-out 1 forwards;
    animation-delay: 0.5s;
  }
  @keyframes logo__loader {
    0% {
      opacity: 0;
    }
    50%,
    80% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .webgl {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    outline: none;
    z-index: 2;
  }

  header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    pointer-events: none; // a enlever

    .logo {
      width: 2rem;
    }
  }
  .container_title {
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
      position: relative;
      font-family: $font_first;
      color: $gray;
      font-size: 18vw;
      margin-bottom: 18rem;

      &:before {
        pointer-events: none;
        content: "DAYTONA";
        position: absolute;
        bottom: -61%;
        left: 0%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        font-family: $font_first;
        background: linear-gradient(to top, #f6f7f8, transparent);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        font-size: 18vw;

        transform: scale(1, -1);
      }
    }

    h2 {
      position: absolute;
      top: 5%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: $font_first;
      color: #181818;
      font-size: 2.5rem;
      z-index: 2;
      letter-spacing: 0.5rem;

      span {
        color: $red;
      }
    }

    small {
      width: 100%;
      text-align: center;
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: $font_second;
      color: #18181857;
      font-size: 1.2rem;
      z-index: 2;
      letter-spacing: 0.5rem;
    }
  }

  .radius__bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
    background: radial-gradient($white 10%, transparent);
  }

  .points__background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
  }
  .left__side {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3vw;
    z-index: 2;

    .statistics {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 60%;
      z-index: 2;

      .stats {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        width: 100%;

        h3 {
          font-family: $font_first;
          font-size: 5vw;
          color: $black;
          margin-right: 1rem;
          font-weight: bold;
        }

        p {
          position: relative;
          top: -1.5rem;
          left: 0.2rem;
          font-family: $font_first;
          font-size: 1rem;
          color: $dark-gray;
          font-weight: bold;
        }
      }
    }
  }
  .bottom__side {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3vw;
    z-index: 3;

    .interaction {
      width: 40%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 2;
      margin-bottom: 3rem;

      button {
        background-color: $black;
        color: $white;
        font-family: $font_first;
        font-size: 0.8rem;
        height: 1.5rem;
        width: 5rem;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        transition: 0.2s ease-in-out;
        text-transform: uppercase;
        &:hover {
          background-color: $red;
          color: $white;
        }
      }
    }
  }
  .container__bottom {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 3;

    .button__sound {
      position: relative;
      width: auto;
      height: 1.5rem;
      cursor: pointer;

      display: flex;
      justify-content: center;
      align-items: flex-end;
      column-gap: 0.5rem;

      .line {
        width: 0.13rem;
        height: 1.5rem;
        background-color: $black;
      }
      .line1 {
        height: 0.7rem;
        animation: 2s sound ease-in-out infinite;
      }
      .line2 {
        height: 1.5rem;
        animation: 2s sound ease-in-out infinite;
        animation-delay: 200ms;
      }
      .line3 {
        height: 1.2rem;
        animation: 2s sound ease-in-out infinite;
        animation-delay: 400ms;
      }

      @keyframes sound {
        0% {
          height: 0.7rem;
        }
        25% {
          height: 1.5rem;
        }
        50% {
          height: 0.3rem;
        }
        75% {
          height: 0.8rem;
        }
        100% {
          height: 0.7rem;
        }
      }
    }
    .arrow__bottom {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .ame__text {
      font-family: $font_second;
      font-size: 1.2rem;
      color: $black;
      font-weight: 200;
      letter-spacing: 0.2rem;

      span {
        color: $red;
      }
    }
  }

  .right__side {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3vw;
    z-index: 3;
    pointer-events: none;

    p {
      position: relative;
      top: -1.5rem;
      left: 0.2rem;
      font-family: $font_second;
      font-size: 1.3rem;
      color: $black;
      font-weight: 400;
      writing-mode: vertical-rl;
      text-transform: uppercase;
      letter-spacing: 0.3rem;

      span {
        color: $red;
      }
    }
  }

  .change__module {
    position: absolute;
    bottom: 23%;
    left: 50%;
    transform: translate(-50%, 0);

    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    button {
      width: 10rem;
      height: 2rem;
      background-color: transparent;
      border: none;
      cursor: pointer;
      color: $black;
      font-weight: 600;
      font-family: $font_first;
      font-size: 1rem;
      letter-spacing: 0.1rem;
      text-transform: uppercase;
      transition: 0.2s ease-in-out;
      &:hover {
        color: $red;
      }
    }

    .compteur__button__active {
      color: $red;
    }
    .manette__button__active {
      color: $red;
    }
  }

  .compteur__vitesse {
    pointer-events: none;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 18vw;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    opacity: 0;
    transition: 0.2s ease-in-out;

    .compteur__bg {
      width: 100%;
      filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.1));
    }
    .aiguille {
      position: absolute;
      bottom: -5%;
      left: 50%;
      transform: translate(-50%, 0) rotate(84deg);
      transform-origin: 50% calc(100% - 5%);
      width: 5%;
      transition: 2s cubic-bezier(0.82, 0.01, 0.32, 0.99);
    }

    .button__position {
      position: absolute;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      width: 2vw;
      height: 2vw;
      background-color: transparent;
      cursor: pointer;
      font-size: 1vw;
      font-family: $font_first;
      transition: 0.2s ease-in-out;
      border: 1px solid $black;
      color: $white;
      font-weight: bold;
      background-color: $black;

      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 0.1rem;
    }
    .button__position__active {
      border: 1px solid $red;
      color: $white;
      font-weight: bold;
      background-color: $red;
    }

    #left {
      top: 85%;
      left: -9%;
    }
    #right {
      top: 85%;
      right: -20%;
    }
    #front {
      top: 10%;
      left: 10%;
    }
    #back {
      top: 10%;

      right: -1%;
    }
    #top {
      top: -20%;
      left: 50%;
    }
  }
  .compteur__vitesse__active {
    opacity: 1;
    pointer-events: inherit;
  }
  .manette {
    pointer-events: none;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.2rem;
    opacity: 0;
    transition: 0.2s ease-in-out;

    .manette__top {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 0.2rem;
    }
    .manette__middle {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 0.2rem;
    }
    .manette__bottom {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 0.2rem;
    }

    .long__button {
      position: relative;
      width: 10rem;
      height: 2rem;
      border-radius: 0.3rem;
      background-color: $black;
      cursor: pointer;
      transition: 0.2s ease-in-out;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;

      svg path {
        fill: $white;
        transition: 0.2s ease-in-out;
      }
      &:hover {
        background-color: $red;
      }
      &:active {
        border: 3px solid $black;
        background-color: transparent;
        transition: 0.1s ease-in-out;
      }
      &:active svg path {
        fill: $black;
      }
    }

    .short__button {
      position: relative;
      width: 4.9rem;
      height: 2rem;
      border-radius: 0.3rem;
      background-color: $black;
      cursor: pointer;
      transition: 0.2s ease-in-out;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;

      svg path {
        fill: $white;
        transition: 0.2s ease-in-out;
      }
      &:hover {
        background-color: $red;
      }
      &:active {
        border: 3px solid $black;
        background-color: transparent;
        transition: 0.1s ease-in-out;
      }
      &:active svg path {
        fill: $black;
      }
    }
  }
  .manette__active {
    opacity: 1;
    pointer-events: inherit;
  }
}
